<div class="actors-container">
  <div class="header">
    <h2>Актёры</h2>
    <button mat-raised-button color="primary" (click)="openAddDialog()">
      Добавить актёра
    </button>
  </div>

  <table mat-table [dataSource]="actors" class="mat-elevation-z8">
    <!-- Колонка с фото -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef>Фото</th>
      <td mat-cell *matCellDef="let actor">
        <img [src]="actor.photoUrl || 'https://victorgolenkov.github.io/DD_probation/movie-collection/public/nothing.jpg'" 
             alt="Фото актёра" 
             class="actor-photo">
      </td>
    </ng-container>

    <!-- Колонка с именем -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let actor">{{ actor.name }}</td>
    </ng-container>

    <!-- Колонка с датой рождения -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef>Дата рождения</th>
      <td mat-cell *matCellDef="let actor">
        {{ actor.birthDate | date:'dd.MM.yyyy' }}
      </td>
    </ng-container>

    <!-- Колонка со страной -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Страна</th>
      <td mat-cell *matCellDef="let actor">{{ actor.country }}</td>
    </ng-container>

    <!-- Колонка с действиями -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let actor">
        <button mat-button class="warn" (click)="deleteActor(actor.id)">
        delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
