.actors-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.actor-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

table {
  width: 100%;
}

.warn{
color:red
}